In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import chardet
import warnings
warnings.filterwarnings('ignore')

In [3]:
df1=pd.read_csv('NewData.csv',index_col=0)

In [4]:
df1.head()

,Lng,Lat,tradeTime,followers,totalPrice,price,square,livingRoom,drawingRoom,kitchen,...,district_5,district_6,district_7,district_8,district_9,district_10,district_11,district_12,district_13,elevator_1.0
0,0.630809,0.627253,2016,0.092738,415.0,31680,0.135066,0.222222,0.2,0.333333,...,0,0,1,0,0,0,0,0,0,1
1,0.597040,0.406733,2016,0.110236,575.0,43436,0.136574,0.222222,0.4,0.333333,...,0,0,1,0,0,0,0,0,0,1
2,0.766197,0.399718,2016,0.041995,1030.0,52021,0.208264,0.333333,0.4,0.333333,...,0,0,1,0,0,0,0,0,0,1
3,0.572140,0.717698,2016,0.120735,297.5,22202,0.138344,0.333333,0.2,0.333333,...,0,1,0,0,0,0,0,0,0,1
4,0.557084,0.414236,2016,0.250219,392.0,48396,0.080441,0.222222,0.2,0.333333,...,0,0,0,0,0,0,0,0,0,0

In [5]:
df1.columns

Index(['Lng', 'Lat', 'tradeTime', 'followers', 'totalPrice', 'price', 'square',
       'livingRoom', 'drawingRoom', 'kitchen', 'bathRoom', 'floor',
       'constructionTime', 'ladderRatio', 'fiveYearsProperty', 'subway',
       'communityAverage', 'renovationCondition_2', 'renovationCondition_3',
       'renovationCondition_4', 'buildingStructure_2', 'buildingStructure_3',
       'buildingStructure_4', 'buildingStructure_5', 'buildingStructure_6',
       'buildingType_2.0', 'buildingType_3.0', 'buildingType_4.0',
       'buildingType_2.0.1', 'buildingType_3.0.1', 'buildingType_4.0.1',
       'district_2', 'district_3', 'district_4', 'district_5', 'district_6',
       'district_7', 'district_8', 'district_9', 'district_10', 'district_11',
       'district_12', 'district_13', 'elevator_1.0'],
      dtype='object')

### DROP THE UNNECESSARY COLUMNS

In [6]:
drop_columns=['Lng', 'Lat','district_2', 'district_3', 'district_4', 'district_5', 'district_6',
              'district_7', 'district_8', 'district_9', 'district_10', 'district_11',
              'district_12', 'district_13','ladderRatio', 'fiveYearsProperty', 'subway','floor',
              'buildingType_2.0', 'buildingType_3.0', 'buildingType_4.0',
              'buildingType_2.0.1', 'buildingType_3.0.1', 'buildingType_4.0.1','price']

In [7]:
df1=df1.drop(columns=drop_columns)

In [8]:
df1.shape

(316798, 19)

In [9]:
df1.columns

Index(['tradeTime', 'followers', 'totalPrice', 'square', 'livingRoom',
       'drawingRoom', 'kitchen', 'bathRoom', 'constructionTime',
       'communityAverage', 'renovationCondition_2', 'renovationCondition_3',
       'renovationCondition_4', 'buildingStructure_2', 'buildingStructure_3',
       'buildingStructure_4', 'buildingStructure_5', 'buildingStructure_6',
       'elevator_1.0'],
      dtype='object')

MODELS USED :
1. KNN model
2. Decision Trees
3. CNN

FEATURES AND LABELS

In [10]:
X=df1.drop(['totalPrice'],axis=1)
y=df1['totalPrice']

In [11]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.30,random_state=2)

random_state = 2 ensures that everytime we split our data into testing and training sets, we get yhe same sets

In [12]:
from sklearn.linear_model import LinearRegression

lr_model = LinearRegression()
lr_model.fit(X_train, y_train)
print("By using Linear Regression we got:")
print("Training data accuracy",lr_model.score(X_train, y_train))
print("Testing data accuracy",lr_model.score(X_test, y_test))

By using Linear Regression we got:
Training data accuracy 0.7672593269308595
Testing data accuracy 0.7660720353592916

MODEL EVALUATION

error = actual - predicted

In [17]:
train_predictions=lr_model.predict(X_train)
test_predictions=lr_model.predict(X_test)

In [18]:
train_MeanSquareError= mean_squared_error(y_train, train_predictions)
test_MeanSquareErroe= mean_squared_error(y_test, test_predictions)

In [20]:
print("Training data MSE:", train_MeanSquareError)
print("Testing data MSE:", test_MeanSquareErroe)

Training data MSE: 11649.435579766901
Testing data MSE: 11893.916462597048

The MSE represents the average squared difference between the actual and predicted values

In [17]:
test_data=[[2010,120,130,3,1,2,2,2005,45000,0,0,1,0,0,0,0,0,1]]

In [18]:
print(lr_model.predict(test_data))

[44178502.50258317]

In [16]:
from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn.linear_model import LinearRegression

In [12]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error

# Assuming you already have X_train, X_test, y_train, and y_test

lr_model = LinearRegression()
lr_model.fit(X_train, y_train)

# Make predictions on the training set
train_predictions = lr_model.predict(X_train)

# Make predictions on the testing set
test_predictions = lr_model.predict(X_test)

# Evaluate the model using Mean Squared Error (MSE) and Mean Absolute Error (MAE)
train_mse = mean_squared_error(y_train, train_predictions)
test_mse = mean_squared_error(y_test, test_predictions)

train_mae = mean_absolute_error(y_train, train_predictions)
test_mae = mean_absolute_error(y_test, test_predictions)

print("By using Linear Regression we got:")
print("Training data MSE:", train_mse)
print("Testing data MSE:", test_mse)

print("Training data MAE:", train_mae)
print("Testing data MAE:", test_mae)

By using Linear Regression we got:
Training data MSE: 11649.435579766896
Testing data MSE: 11893.916462597048
Training data MAE: 71.56290891275167
Testing data MAE: 71.86988016325702

In [13]:
from sklearn.ensemble import RandomForestRegressor
rfm=RandomForestRegressor()
rfm.fit(X_train,y_train)
print("Training data accuracy" ,rfm.score(X_train,y_train))
print("Testing data accuracy",rfm.score(X_test,y_test))

Training data accuracy 0.9887541076713705
Testing data accuracy 0.9227733967165338

In [ ]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error

# Assuming you already have X_train, X_test, y_train, and y_test

# Initialize the Decision Tree model
dt_model = DecisionTreeRegressor(random_state=42)  # You can adjust hyperparameters as needed

# Train the model on the training set
dt_model.fit(X_train, y_train)

# Make predictions on the training set
train_predictions_dt = dt_model.predict(X_train)

# Make predictions on the testing set
test_predictions_dt = dt_model.predict(X_test)

# Evaluate the model using Mean Squared Error (MSE) and Mean Absolute Error (MAE)
train_mse_dt = mean_squared_error(y_train, train_predictions_dt)
test_mse_dt = mean_squared_error(y_test, test_predictions_dt)

train_mae_dt = mean_absolute_error(y_train, train_predictions_dt)
test_mae_dt = mean_absolute_error(y_test, test_predictions_dt)

print("By using Decision Tree Regression we got:")
print("Training data MSE:", train_mse_dt)
print("Testing data MSE:", test_mse_dt)

print("Training data MAE:", train_mae_dt)
print("Testing data MAE:", test_mae_dt)

### DECISION TREE REGRESSOR

In [ ]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error

In [ ]:
# Initialize the Decision Tree model with hyperparameter adjustments
dt_model = DecisionTreeRegressor(max_depth=5, min_samples_split=5, random_state=42)

In [ ]:
# Train the model on the training set
dt_model.fit(X_train, y_train)

In [ ]:
# Make predictions on the training set
train_predictions_dt = dt_model.predict(X_train)

In [ ]:
# Make predictions on the testing set
test_predictions_dt = dt_model.predict(X_test)

In [ ]:
# Evaluate the model using Mean Squared Error (MSE) and Mean Absolute Error (MAE)
train_mse_dt = mean_squared_error(y_train, train_predictions_dt)
test_mse_dt = mean_squared_error(y_test, test_predictions_dt)

train_mae_dt = mean_absolute_error(y_train, train_predictions_dt)
test_mae_dt = mean_absolute_error(y_test, test_predictions_dt)

print("By using Decision Tree Regression with Hyperparameter Tuning we got:")
print("Training data MSE:", train_mse_dt)
print("Testing data MSE:", test_mse_dt)

print("Training data MAE:", train_mae_dt)
print("Testing data MAE:", test_mae_dt)

### NEURAL NETWORKS

In [ ]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=2)

In [ ]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [ ]:
model = Sequential()
model.add(Dense(64, activation='relu', input_shape=(X_train_scaled.shape[1],)))
model.add(Dense(32, activation='relu'))
model.add(Dense(1))

In [ ]:
# Compile the model
model.compile(optimizer='adam', loss='mean_squared_error')

In [ ]:
# Train the model
model.fit(X_train_scaled, y_train, epochs=50, batch_size=32, validation_split=0.1, verbose=2)

In [ ]:
# Make predictions on the testing set
predictions_nn = model.predict(X_test_scaled).flatten()

In [ ]:
# Evaluate the model using Mean Squared Error (MSE) and Mean Absolute Error (MAE)
mse_nn = mean_squared_error(y_test, predictions_nn)
mae_nn = mean_absolute_error(y_test, predictions_nn)

print("By using Neural Network Regression we got:")
print("Testing data MSE:", mse_nn)
print("Testing data MAE:", mae_nn)